<ul class="sidebar-menu" data-widget="tree">
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>系统工具</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href='@Url.Content("~/Message/Index")'><i class="fa fa-folder"></i> 消息管理</a></li>
            <li><a href='@Url.Content("~/Document/Index")'><i class="fa fa-file-pdf-o"></i> 文档管理</a></li>
            <li><a href="#"><i class="fa fa-laptop"></i> 代码生成器</a></li>
            <li><a href='@Url.Content("~/ApiModule/Index")'><i class="fa fa-circle-o"></i> API模拟</a></li>
            <li><a href='@Url.Content("~/WebAnalysis/Index")'><i class="fa fa-circle-o"></i> 网站分析</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-th"></i>
            <span>系统管理</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href='@Url.Content("~/Users/Index")'><i class="fa fa-user"></i> 用户管理</a></li>
            <li><a href="@Url.Content("~/Menu/Index")"><i class="fa fa-cogs"></i> 菜单管理</a></li>
            <li><a href='@Url.Content("~/Roles/Index")'><i class="fa fa-user-plus"></i> 角色管理</a></li>
            <li><a href='@Url.Content("~/Organization/Index")'><i class="fa fa-server"></i> 组织管理</a></li>
            <li><a href="#"><i class="fa fa-lock"></i> 角色授权</a></li>
            <li><a href="#"><i class="fa fa-book"></i> 字典管理</a></li>
            <li><a href='@Url.Content("~/swagger/")' target="_blank"><i class="fa fa-book"></i> 系统Api</a></li>
        </ul>
    </li>
</ul>